@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

html {
    cursor: none;
}

.viewer{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;

  &.market {
    background-color: rgba(134, 117, 186);
  }
  &.corp {
    background-color: rgb(141, 189, 186);
  }
  
  .slide {
    width: 100vw;
    height: 100vh;
    left: 0;
    position: absolute;
    z-index: 0;
    &.to-left {
      animation: left 1s ease-in
    }
    &.to-right {
      animation: right 1s ease reverse;
    }
    &.from-left {
      animation: left 1s ease reverse;
    }
    &.from-right {
      animation: right 1s ease-in;
    }
  }
}

@keyframes left {
  from {
      left: 0;
  }
  to {
      left: -100%;
  }
}

@keyframes right {
  from {
      left: 100%;
  }
  to {
      left: 0;
  }
}

h1,
h2,
h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

button {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: 1px solid rgb(245, 245, 245);
    cursor: none;
    &.slide-button{
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
    }
    &.to-right{
      background-image: url('./assets/arrow.svg');
    }
    &.to-left{
      background-image: url('./assets/arrow.svg');
      transform: scaleX(-1);
    }
}

.content-wraper{
    width: 668px;
    height: 432px;

    margin-top: 190px;
    margin-left: 100px;

    backdrop-filter: blur(30px);
    box-shadow: inset 0.860527px 0.860527px 0.860527px rgba(53, 74, 66, 0.2);
    border: 0.5px solid rgba(64, 89, 80, 0.5);
    background-blend-mode: normal, multiply;
    background: linear-gradient(0deg, rgba(0, 37, 23, 0.3), rgba(0, 37, 23, 0.3));

    color: white;
    transition: all 1s ease;
    position: relative;

    z-index: 1;

    .buttons-wraper{
      display: flex;
      justify-content: space-between;
      width: 112px;
      margin: 20px 0 0 20px;
    }

    .service-classifications {
        width: 588px;
        height: 94px;
        margin: 20px 0 0 20px;

        background: rgba(0, 37, 23, 0.2);
        border: 1px solid rgba(226, 226, 226, 0.5);

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .service-classification {
            border: 1px solid rgba(226, 226, 226, 0.5);

            h4 {
                font-size: 20px;
                line-height: 28px;
                margin: 20px 0 0 20px;
            }

            p{
                font-size: 13px;
                line-height: 18px;
                margin: 8px 0 0 20px;

            }
        }
    }
    &.hidden {
      opacity: 0;
      transform: translate(0, 30%);
    }
}

h1 {
  position: relative;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 64px;
  line-height: 60px;
  z-index: 2;
}

h2 {
  margin: 20px 0 0 20px;
  font-size: 32px;
  line-height: 40px;
}

p{
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin: 16px 0 0 20px;
}

.laptop-wraper{
  width: 1017.27px;
  height: 576.09px;
  left: 344px;
  top: 148.03px;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease;

  &.hidden-left {
    left: -100%;
  }

    .laptop-screen {
        width: 773.02px;
        height: 547.04px;
        left: 481.12px;
        top: 116.83px;

        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 70.66%, rgba(51, 51, 51, 0.643) 90.82%, rgba(0, 0, 0, 0.94) 102.78%), linear-gradient(115.51deg, #333333 0%, #596368 53.13%, #333333 100%);
        border: 1.54049px solid #333333;
        border-radius: 18.4858px;

        .laptop-content {
          width: 742.84px;
          height: 496.84px;
          position: relative;
          left: 12px;
          top: 15px;
          border-radius: 9.24292px 9.24292px 0px 0px;
          &.corp-content{
            background-image: url('./assets/corp-slide.png');
          }
          &.market-content{
            background-image: url('./assets/market-slide.png');
          }
        }
    }
    
    .laptop-keyboard {
      width: 1017.27px;
      height: 36.42px;
      background-image: url(assets/keyboard.svg);
      background-repeat: no-repeat;
      background-size: cover;
      .laptop_part{
        width: 180.45px;
        height: 18.25px;
        left: 42%;
        position: relative;
        background-image: url(assets/keyboard_part.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
}